<div class="container mt-5">
    <table class="table display" id="table_id">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Subject</th>
      <th scope="col">Salary</th>
      <th scope="col">Mobile</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      {{#each teachers}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.subject}}</td>
      <td>{{this.salary}}</td>
      <td>{{this.mobile}}</td>
      <td>
          <a class="btn btn-primary text-white" href="/admin/edit-teacher/{{this._id}}">View Details</a>
          <a class="btn btn-danger text-white" href="/admin/delete-teacher/{{this._id}}">Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>