<div class="container mt-5">
  {{#each assignments}}
  <div class="card">
  <div class="card-body">
    <p class="card-text">{{this.issueDate}}</p>
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.message}}</p>
    <p class="card-text"><b>Subject :</b>  {{this.subject}}&emsp;<b>Due date :</b> {{this.dueDate}}</p>
    <code>Attachments</code><br>
    {{#each this.attachments}}
            <a href="/assignments/{{../_id}}{{this.name}}" download="{{this.name}}">{{this.name}}</a><br>
    {{/each}}
  </div>
  {{#if this.submission}}
  <div class="container mb-2">
     <a class="btn btn-primary text-white" href="/submissions/{{this._id}}{{this.studentId}}.{{this.extname}}" download="{{this.title}}">View Submission</a>
    <a class="btn btn-primary text-white" href="/student/delete-submission/{{this._id}}">Delete Submission</a>
  </div>
  {{else}}
  <form method="post" action="/student/submit-assignment/{{this._id}}" enctype="multipart/form-data">
  <div class="container" style="display:flex;justify-content:space-between;align-items:center;">
    <div class="form-group">
    <label for="exampleFormControlFile1">Upload file</label>
    <input type="file" name="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button class="btn btn-success" style="width:18em;" type="submit">Submit</button>
  </div>
  </form>
  {{/if}}
</div>
{{/each}}
    
</div>